@model KapiNadeApp.Models.RequestTypeMV

@{
    ViewBag.Title = "Request types";
}

<h3>Jeste sigurni da želite obrisati?</h3>
<div>
    <h4>Tip zahtjeva</h4>
    <hr />
    <dl class="custom-dl">
        <dt>
            Tip zahtjeva koji brišete:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" />
            @Html.ActionLink("Nazad", "AllRequestType", null, new { @class = "btn btn-theme-invert" })
        </div>
    }
</div>
