@model KapiNadeApp.Models.BloodGroupsMV

@{
    ViewBag.Title = "Blood Groups";
}

<h3>Jeste sigurni da želite obrisati?</h3>
<div>
    <h4>Krvna grupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" />
            @Html.ActionLink("Nazad", "AllBloodGroups", null, new { @class = "btn btn-theme-invert" })
        </div>
    }
</div>
