@model DatabaseLayer.CityTable

@{
    ViewBag.Title = "Delete";
}


<h3>Jeste sigurni da želite obrisati?</h3>
<div>
    <h4>Grad</h4>
    <hr />
    <dl class="custom-dl">
        <dt>
            Grad koji brišete:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

      


        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-danger" />
            @Html.ActionLink("Nazad", "Index", null, new { @class = "btn btn-theme-invert" })
        </div>
    }
</div>
