@model IEnumerable<KapiNadeApp.Models.UserTypeMV>

@{
    ViewBag.Title = "All user types";
}

<div class="col-md-8">

    <div class="contact-form-block">

        <h2 class="contact-title">Svi tipovi korisnika</h2>

        <p>
            @Html.ActionLink("Novi tip korisnika", "Create", null, new { @class = "btn btn-custom" })
        </p>
        <table class="table table-hover">

            <tr>
                <th>
                    Tip korisnika
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    <td>
                        @Html.ActionLink("Uredi", "Edit", new { id = item.UserTypeID }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Obriši", "Delete", new { id = item.UserTypeID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

